{
  "openapi": "3.1.0",
  "info": {
    "title": "EDGAR Terminal Research and x402 Data APIs",
    "version": "2.3.0",
    "description": "Free public research APIs and six paid machine products: prepared company financials, snapshot pages, multi-company financial bundles, fundamental screens with peer percentiles, and debt/liquidity screens. Paid GETs cost 0.01 USDC on Solana. New batch and screen products support JSON/CSV. Public research remains free; paid products provide selected, normalized delivery rather than exclusive ownership of SEC records. Optional exact-response recovery is available for 24 hours after staging. Consult /api/x402 for availability."
  },
  "servers": [
    {
      "url": "https://secedgarterminal.com"
    }
  ],
  "tags": [
    {
      "name": "SEC fundamentals",
      "description": "Prepared diagnostics derived only from SEC filing facts."
    },
    {
      "name": "CFTC positioning",
      "description": "Official futures-only COT reports, with TFF and Disaggregated taxonomies kept separate."
    },
    {
      "name": "Fund research",
      "description": "Compact, source-linked summaries read only from prepared N-PORT and Form 13F portfolios."
    },
    {
      "name": "Retired",
      "description": "Legacy third-party price-dependent contracts that now return 410 Gone."
    }
  ],
  "paths": {
    "/api/v1/analysis/{ticker}": {
      "get": {
        "tags": [
          "SEC fundamentals"
        ],
        "operationId": "readPublicAnalysis",
        "summary": "Read concise prepared company financial research",
        "description": "Cache-only projection of six business-specific financial metrics with current/prior values, exact periods, units, calculated-versus-reported labels, source contexts and SEC filing links. Never fetches SEC data or writes a new financial history. Annual is the default. An older end selects latest-filed values for that reporting period, not a historical information set. Filing-cutoff asOf requests return 503 because historical vintages are not prepared by this endpoint. Unknown, duplicate and empty query fields are rejected. Missing data never means zero.",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9][A-Za-z0-9.-]{0,14}$"
            }
          },
          {
            "name": "basis",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarter",
                "ytd",
                "ttm"
              ],
              "default": "annual"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Exact available reporting-period end, no later than today; omit for latest.",
            "schema": {
              "type": "string",
              "pattern": "^(latest|[0-9]{4}-[0-9]{2}-[0-9]{2})$"
            }
          },
          {
            "name": "asOf",
            "in": "query",
            "description": "Filing cutoff. Valid dates return 503 without substituting current-vintage figures.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prepared financial highlights. Source freshness and calculation time are separate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAnalysisSummary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid, duplicate, empty or unknown selector."
          },
          "503": {
            "description": "Prepared research, period or vintage unavailable. Retry-After: 60; no-store."
          }
        }
      }
    },
    "/api/v1/funds/{ticker}": {
      "get": {
        "tags": [
          "Fund research"
        ],
        "operationId": "readPublicFundSummary",
        "summary": "Read a prepared N-PORT fund summary",
        "description": "Cache-only read with up to ten positions, source dates, coverage and SEC links. Never fetches SEC documents or starts a refresh. Omit accession for the prepared latest report; an explicit accession pins one filing and excludes later amendments. Missing prepared data does not establish that no filing exists. Unknown, duplicate or empty query parameters are rejected.",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "required": true,
            "description": "Fund ticker, normalized to uppercase.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9][A-Za-z0-9.-]{0,14}$"
            }
          },
          {
            "name": "accession",
            "in": "query",
            "required": false,
            "description": "Exact SEC filing accession.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{10}-[0-9]{2}-[0-9]{6}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prepared summary; stale may be true. N-PORT weights retain the full net-assets denominator and may be negative or unavailable.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "public, max-age=0, s-maxage=60, stale-while-revalidate=60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicFundSummary"
                    },
                    {
                      "properties": {
                        "status": {
                          "const": "ready"
                        },
                        "kind": {
                          "const": "nport"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid fund ticker, accession or query parameters; private, no-store.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/PublicFundUnavailable"
          }
        }
      }
    },
    "/api/v1/managers/{cik}": {
      "get": {
        "tags": [
          "Fund research"
        ],
        "operationId": "readPublicManagerSummary",
        "summary": "Read a prepared Form 13F manager summary",
        "description": "Cache-only read of a complete prepared quarter with up to ten positions, coverage, dates and SEC filing sources. Never fetches SEC documents or starts a refresh. Omit period for the prepared latest quarter. Weights use all reported 13F holdings value, not assets under management or net assets. Unknown, duplicate or empty query parameters are rejected.",
        "parameters": [
          {
            "name": "cik",
            "in": "path",
            "required": true,
            "description": "Nonzero manager CIK, normalized to ten digits.",
            "schema": {
              "type": "string",
              "pattern": "^(?!0+$)[0-9]{1,10}$"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "A non-future calendar quarter end with year greater than zero.",
            "schema": {
              "type": "string",
              "format": "date",
              "pattern": "^[0-9]{4}-(03-31|06-30|09-30|12-31)$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Complete prepared quarter; stale may be true, including when newer evidence is incomplete. Options and confidential omissions remain explicit.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "public, max-age=0, s-maxage=60, stale-while-revalidate=60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicFundSummary"
                    },
                    {
                      "properties": {
                        "status": {
                          "const": "ready"
                        },
                        "kind": {
                          "const": "13f"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid manager CIK, reporting quarter or query parameters; private, no-store.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/PublicFundUnavailable"
          }
        }
      }
    },
    "/api/v2/factor-universe": {
      "get": {
        "tags": [
          "SEC fundamentals"
        ],
        "summary": "Read the prepared SEC fundamental universe universe",
        "description": "Returns equal-issuer-weight filing breadth, magnitude, paired dispersion, cash confirmation and sector variance. Public reads never initiate a bulk SEC refresh.",
        "parameters": [
          {
            "name": "basis",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ttm",
                "annual"
              ],
              "default": "ttm"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prepared SEC fundamental snapshot",
            "headers": {
              "X-Schema-Version": {
                "$ref": "#/components/headers/SchemaVersion"
              },
              "X-Methodology-Version": {
                "$ref": "#/components/headers/MethodologyVersion"
              },
              "X-SEC-Snapshot-At": {
                "$ref": "#/components/headers/SecSnapshotAt"
              },
              "X-Cache-Source": {
                "$ref": "#/components/headers/CacheSource"
              },
              "X-Data-Stale": {
                "$ref": "#/components/headers/DataStale"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateReset"
              },
              "Link": {
                "$ref": "#/components/headers/SchemaLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://secedgarterminal.com/schemas/factor-universe-v2.schema.json"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/api/v1/cftc/markets": {
      "get": {
        "tags": [
          "CFTC positioning"
        ],
        "summary": "Read a CFTC report-family catalog and launch-market snapshot",
        "description": "Returns one futures-only report family and report date. TFF and Disaggregated participant categories are not blended.",
        "parameters": [
          {
            "name": "family",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "tff",
                "disaggregated"
              ],
              "default": "tff"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Latest validated report or an exact non-future report date.",
            "schema": {
              "type": "string",
              "default": "latest",
              "pattern": "^(latest|[0-9]{4}-[0-9]{2}-[0-9]{2})$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CFTC catalog and current positioning",
            "headers": {
              "X-Schema-Version": {
                "$ref": "#/components/headers/SchemaVersion"
              },
              "X-Report-Date": {
                "$ref": "#/components/headers/ReportDate"
              },
              "X-Cache-Source": {
                "$ref": "#/components/headers/CacheSource"
              },
              "X-Data-Stale": {
                "$ref": "#/components/headers/DataStale"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateReset"
              },
              "Link": {
                "$ref": "#/components/headers/SchemaLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://secedgarterminal.com/schemas/cftc-markets-v1.schema.json"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Unavailable"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/api/v1/cftc/history": {
      "get": {
        "tags": [
          "CFTC positioning"
        ],
        "summary": "Read bounded CFTC history for one contract and participant group",
        "description": "Calculates net contracts, net as a percentage of open interest, exact 7/28-day changes and no-look-ahead within-contract percentiles.",
        "parameters": [
          {
            "name": "family",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "tff",
                "disaggregated"
              ],
              "default": "tff"
            }
          },
          {
            "name": "contract",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Z0-9+]{3,12}$"
            }
          },
          {
            "name": "group",
            "in": "query",
            "required": false,
            "description": "Must belong to the selected family.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest",
              "pattern": "^(latest|[0-9]{4}-[0-9]{2}-[0-9]{2})$"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1y",
                "3y",
                "5y"
              ],
              "default": "5y"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Selected observation and bounded history",
            "headers": {
              "X-Schema-Version": {
                "$ref": "#/components/headers/SchemaVersion"
              },
              "X-Report-Date": {
                "$ref": "#/components/headers/ReportDate"
              },
              "X-Cache-Source": {
                "$ref": "#/components/headers/CacheSource"
              },
              "X-Data-Stale": {
                "$ref": "#/components/headers/DataStale"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateReset"
              },
              "Link": {
                "$ref": "#/components/headers/SchemaLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://secedgarterminal.com/schemas/cftc-history-v1.schema.json"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Unavailable"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/api/v1/cftc/market-comparison": {
      "get": {
        "tags": [
          "CFTC positioning"
        ],
        "summary": "Compare prepared CFTC positioning across 25 public futures markets",
        "description": "Parameter-free, shared public comparison built only from existing prepared histories. Never starts SEC or CFTC acquisition and contains no portfolio holdings or allocations. TFF markets use Leveraged Funds; Disaggregated markets use Managed Money. Net/OI changes require exact seven-day observations and are percentage-point differences. Historical ranges use available observations within the trailing 52-week window, including current; range.position is linear min/max placement, NOT a percentile. Preserve per-market report dates, actual observation counts and date spans, nulls, stale and incomplete flags. A ready row can contain stale, incomplete or unavailable individual values; inspect its summary. HTTP 200 may contain partial or entirely unavailable prepared coverage. All query parameters are rejected.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Fixed public catalog with validated summaries or explicit unavailable rows; preparation of all markets is not guaranteed",
            "headers": {
              "X-Schema-Version": {
                "$ref": "#/components/headers/SchemaVersion"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateReset"
              },
              "Link": {
                "$ref": "#/components/headers/SchemaLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://secedgarterminal.com/schemas/portfolio-market-comparison-v1.schema.json"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/api/v1/cftc/status": {
      "get": {
        "tags": [
          "CFTC positioning"
        ],
        "summary": "Read prepared CFTC cache status without contacting the upstream source",
        "description": "Reports TFF and Disaggregated prepared-cache readiness independently and recomputes cache age and source-report currency without contacting CFTC upstream.",
        "responses": {
          "200": {
            "description": "At least one prepared family snapshot is usable",
            "headers": {
              "X-Schema-Version": {
                "$ref": "#/components/headers/SchemaVersion"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CftcStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "Shared cache is disabled or no prepared family snapshot is usable",
            "headers": {
              "X-Schema-Version": {
                "$ref": "#/components/headers/SchemaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CftcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/prices": {
      "get": {
        "deprecated": true,
        "tags": [
          "Retired"
        ],
        "summary": "Retired security-price endpoint",
        "responses": {
          "410": {
            "$ref": "#/components/responses/Retired"
          }
        }
      }
    },
    "/api/v1/market-signals": {
      "get": {
        "deprecated": true,
        "tags": [
          "Retired"
        ],
        "summary": "Retired price-derived market-signals endpoint",
        "responses": {
          "410": {
            "$ref": "#/components/responses/Retired"
          }
        }
      }
    },
    "/api/v1/factor-universe": {
      "get": {
        "deprecated": true,
        "tags": [
          "Retired"
        ],
        "summary": "Retired mixed-data factor-universe v1 endpoint",
        "responses": {
          "410": {
            "$ref": "#/components/responses/Retired"
          }
        }
      }
    },
    "/api/x402": {
      "get": {
        "tags": [
          "Paid data discovery"
        ],
        "summary": "Discover paid resources, pricing and current activation status",
        "description": "Free catalog. No payment authorization or API key is required. Reports payment configuration and native-USDC receiving-account readiness. recipient-setup-required means the receiving account needs setup; recipient-check-unavailable means its readiness could not be checked temporarily. These states do not collect payment. An active catalog does not guarantee that every dataset is prepared.",
        "security": [],
        "responses": {
          "200": {
            "description": "Paid resource catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402Catalog"
                }
              }
            }
          }
        }
      }
    },
    "/api/x402/v1/financials/{ticker}": {
      "get": {
        "tags": [
          "Paid x402 data"
        ],
        "summary": "Retrieve prepared company financial history",
        "description": "Financial reporting periods, units and source evidence use the same prepared calculator model as the research application. As-filed historical vintages are not guaranteed. Price is 0.01 USDC on Solana mainnet per successfully settled GET. Public research remains free. No source acquisition is initiated by this request. Inspect the 402 offer before authorizing payment.",
        "security": [
          {
            "X402Payment": []
          }
        ],
        "x-x402": {
          "version": 2,
          "scheme": "exact",
          "price": "0.01",
          "currency": "USDC",
          "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
          "amount": "10000",
          "decimals": 6
        },
        "x-bazaar": {
          "extension": "bazaar",
          "serviceName": "SEC EDGAR Terminal",
          "iconUrl": "https://secedgarterminal.com/favicon.svg",
          "indexing": "concrete-path",
          "resourceExample": "https://secedgarterminal.com/api/x402/v1/financials/AAPL",
          "tags": [
            "finance",
            "SEC",
            "financial-statements",
            "filing-evidence"
          ],
          "catalog": "https://secedgarterminal.com/api/x402",
          "description": "Offers include input/path and schema-only output metadata. Discovery indexes concrete paths; financials entries can represent specific supported tickers. The payment resource stays the exact concrete request URL. External listing is facilitator-dependent and is not asserted by this document."
        },
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Supported public company ticker."
          },
          {
            "name": "basis",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarter",
                "ytd",
                "ttm"
              ],
              "default": "annual"
            }
          },
          {
            "name": "X-X402-Recovery-Token",
            "in": "header",
            "required": false,
            "description": "Optional unique random 32-byte capability encoded as 64 lowercase hexadecimal characters. Generate before the signed purchase and retain privately. Stages exact response before settlement for no-charge retrieval for 24 hours. Never put it in the URL.",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prepared data delivered after successful verification and settlement. May include explicitly labeled incomplete or stale source coverage.",
            "headers": {
              "PAYMENT-RESPONSE": {
                "$ref": "#/components/headers/PaymentResponse"
              },
              "EXTENSION-RESPONSES": {
                "$ref": "#/components/headers/ExtensionResponses"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaidFinancials"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/X402BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/X402PaymentRequired"
          },
          "409": {
            "$ref": "#/components/responses/X402Conflict"
          },
          "429": {
            "$ref": "#/components/responses/X402RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/X402ResourceFailure"
          },
          "503": {
            "$ref": "#/components/responses/X402Unavailable"
          }
        }
      },
      "head": {
        "tags": [
          "Paid x402 data"
        ],
        "summary": "HEAD is not supported and never settles payment",
        "security": [],
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "405": {
            "$ref": "#/components/responses/X402MethodNotAllowed"
          }
        }
      }
    },
    "/api/x402/v1/refinancing": {
      "get": {
        "tags": [
          "Paid x402 data"
        ],
        "summary": "Retrieve one page of the refinancing snapshot",
        "description": "Response includes metadata, company records and pagination. Pin the snapshot across pages to avoid mixing versions. Unsupported query fields are rejected. Price is 0.01 USDC on Solana mainnet per successfully settled GET. Public research remains free. No source acquisition is initiated by this request. Inspect the 402 offer before authorizing payment.",
        "security": [
          {
            "X402Payment": []
          }
        ],
        "x-x402": {
          "version": 2,
          "scheme": "exact",
          "price": "0.01",
          "currency": "USDC",
          "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
          "amount": "10000",
          "decimals": 6
        },
        "x-bazaar": {
          "extension": "bazaar",
          "serviceName": "SEC EDGAR Terminal",
          "iconUrl": "https://secedgarterminal.com/favicon.svg",
          "indexing": "concrete-path",
          "resourceExample": "https://secedgarterminal.com/api/x402/v1/refinancing",
          "tags": [
            "finance",
            "SEC",
            "refinancing",
            "debt-maturities"
          ],
          "catalog": "https://secedgarterminal.com/api/x402",
          "description": "Offers include input/path and schema-only output metadata. Discovery indexes concrete paths; financials entries can represent specific supported tickers. The payment resource stays the exact concrete request URL. External listing is facilitator-dependent and is not asserted by this document."
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            },
            "description": "Each successful page is a separate 0.01 USDC paid request."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9999,
              "default": 0
            }
          },
          {
            "name": "snapshot",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$"
            },
            "description": "Pass the exact token returned in pagination.snapshot on every page after the first. A changed snapshot returns 409 without settlement."
          },
          {
            "name": "X-X402-Recovery-Token",
            "in": "header",
            "required": false,
            "description": "Optional unique random 32-byte capability encoded as 64 lowercase hexadecimal characters. Generate before the signed purchase and retain privately. Stages exact response before settlement for no-charge retrieval for 24 hours. Never put it in the URL.",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prepared data delivered after successful verification and settlement. May include explicitly labeled incomplete or stale source coverage.",
            "headers": {
              "PAYMENT-RESPONSE": {
                "$ref": "#/components/headers/PaymentResponse"
              },
              "EXTENSION-RESPONSES": {
                "$ref": "#/components/headers/ExtensionResponses"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaidRefinancingPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/X402BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/X402PaymentRequired"
          },
          "409": {
            "$ref": "#/components/responses/X402Conflict"
          },
          "416": {
            "$ref": "#/components/responses/X402PageOutOfRange"
          },
          "429": {
            "$ref": "#/components/responses/X402RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/X402ResourceFailure"
          },
          "503": {
            "$ref": "#/components/responses/X402Unavailable"
          }
        }
      },
      "head": {
        "tags": [
          "Paid x402 data"
        ],
        "summary": "HEAD is not supported and never settles payment",
        "security": [],
        "responses": {
          "405": {
            "$ref": "#/components/responses/X402MethodNotAllowed"
          }
        }
      }
    },
    "/api/x402/v1/factor-universe": {
      "get": {
        "tags": [
          "Paid x402 data"
        ],
        "summary": "Retrieve one page of the SEC fundamental universe",
        "description": "Response includes snapshot metadata, company rows and pagination. Only retained prepared snapshots are accepted; a computed fallback returns 503 without settlement. Accounting measures do not represent security-price returns. Pin the snapshot across pages. Unsupported query fields are rejected. Price is 0.01 USDC on Solana mainnet per successfully settled GET. Public research remains free. No source acquisition is initiated by this request. Inspect the 402 offer before authorizing payment.",
        "security": [
          {
            "X402Payment": []
          }
        ],
        "x-x402": {
          "version": 2,
          "scheme": "exact",
          "price": "0.01",
          "currency": "USDC",
          "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
          "amount": "10000",
          "decimals": 6
        },
        "x-bazaar": {
          "extension": "bazaar",
          "serviceName": "SEC EDGAR Terminal",
          "iconUrl": "https://secedgarterminal.com/favicon.svg",
          "indexing": "concrete-path",
          "resourceExample": "https://secedgarterminal.com/api/x402/v1/factor-universe",
          "tags": [
            "finance",
            "SEC",
            "fundamentals",
            "sector-analysis"
          ],
          "catalog": "https://secedgarterminal.com/api/x402",
          "description": "Offers include input/path and schema-only output metadata. Discovery indexes concrete paths; financials entries can represent specific supported tickers. The payment resource stays the exact concrete request URL. External listing is facilitator-dependent and is not asserted by this document."
        },
        "parameters": [
          {
            "name": "basis",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ttm",
                "annual"
              ],
              "default": "ttm"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            },
            "description": "Each successful page is a separate 0.01 USDC paid request."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9999,
              "default": 0
            }
          },
          {
            "name": "snapshot",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$"
            },
            "description": "Pass the exact token returned in pagination.snapshot on every page after the first. A changed snapshot returns 409 without settlement."
          },
          {
            "name": "X-X402-Recovery-Token",
            "in": "header",
            "required": false,
            "description": "Optional unique random 32-byte capability encoded as 64 lowercase hexadecimal characters. Generate before the signed purchase and retain privately. Stages exact response before settlement for no-charge retrieval for 24 hours. Never put it in the URL.",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prepared data delivered after successful verification and settlement. May include explicitly labeled incomplete or stale source coverage.",
            "headers": {
              "PAYMENT-RESPONSE": {
                "$ref": "#/components/headers/PaymentResponse"
              },
              "EXTENSION-RESPONSES": {
                "$ref": "#/components/headers/ExtensionResponses"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaidFactorPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/X402BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/X402PaymentRequired"
          },
          "409": {
            "$ref": "#/components/responses/X402Conflict"
          },
          "416": {
            "$ref": "#/components/responses/X402PageOutOfRange"
          },
          "429": {
            "$ref": "#/components/responses/X402RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/X402ResourceFailure"
          },
          "503": {
            "$ref": "#/components/responses/X402Unavailable"
          }
        }
      },
      "head": {
        "tags": [
          "Paid x402 data"
        ],
        "summary": "HEAD is not supported and never settles payment",
        "security": [],
        "responses": {
          "405": {
            "$ref": "#/components/responses/X402MethodNotAllowed"
          }
        }
      }
    },
    "/api/x402/v1/financial-batch": {
      "get": {
        "tags": [
          "Paid x402 data"
        ],
        "summary": "Batch normalized financial histories for one to ten companies",
        "description": "Cache-only prepared data. One bounded successful response costs 0.01 USDC. Invalid selectors, absent data, no matches, conflicts and oversized responses are not settled. Unknown, duplicate and empty query fields are rejected. format=csv returns RFC 4180 CSV with source, selection and pagination context in columns. Screen snapshot tokens bind both source data and criteria; keep criteria identical on subsequent pages. Financial batches require every selected company to be available and are not historical as-filed archives. Responses are bounded to 4 MiB.",
        "security": [
          {
            "X402Payment": []
          }
        ],
        "x-x402": {
          "version": 2,
          "scheme": "exact",
          "price": "0.01",
          "currency": "USDC",
          "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
          "amount": "10000",
          "decimals": 6,
          "resourceExample": "https://secedgarterminal.com/api/x402/v1/financial-batch?tickers=AAPL%2CMSFT&basis=annual",
          "formats": [
            "json",
            "csv"
          ]
        },
        "x-bazaar": {
          "extension": "bazaar",
          "serviceName": "SEC EDGAR Terminal",
          "iconUrl": "https://secedgarterminal.com/favicon.svg",
          "indexing": "concrete-path",
          "resourceExample": "https://secedgarterminal.com/api/x402/v1/factor-universe",
          "tags": [
            "finance",
            "SEC",
            "fundamentals",
            "sector-analysis"
          ],
          "catalog": "https://secedgarterminal.com/api/x402",
          "description": "Offers include input/path and schema-only output metadata. Discovery indexes concrete paths; financials entries can represent specific supported tickers. The payment resource stays the exact concrete request URL. External listing is facilitator-dependent and is not asserted by this document."
        },
        "parameters": [
          {
            "name": "tickers",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z][A-Za-z0-9.-]{0,14}(,[A-Za-z][A-Za-z0-9.-]{0,14}){0,9}$",
              "description": "One to ten unique company tickers, comma separated."
            }
          },
          {
            "name": "basis",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarter",
                "ytd",
                "ttm"
              ],
              "default": "annual",
              "description": "Financial reporting basis; availability varies by company."
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ],
              "default": "json",
              "description": "JSON result or flat CSV with source and pagination context."
            }
          },
          {
            "name": "X-X402-Recovery-Token",
            "in": "header",
            "required": false,
            "description": "Optional unique random 32-byte capability encoded as 64 lowercase hexadecimal characters. Generate before the signed purchase and retain privately. Stages exact response before settlement for no-charge retrieval for 24 hours. Never put it in the URL.",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Selected prepared product. Preserve source context, coverage, missing values and snapshot token.",
            "headers": {
              "PAYMENT-RESPONSE": {
                "$ref": "#/components/headers/PaymentResponse"
              },
              "EXTENSION-RESPONSES": {
                "$ref": "#/components/headers/ExtensionResponses"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaidFinancialBatch"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                },
                "description": "CSV header and data rows; source and pagination metadata are included in columns."
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/X402BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/X402PaymentRequired"
          },
          "404": {
            "description": "No companies match the selected screen; no settlement."
          },
          "409": {
            "$ref": "#/components/responses/X402Conflict"
          },
          "413": {
            "description": "Prepared product exceeds 4 MiB; choose fewer companies or a smaller page. No settlement."
          },
          "416": {
            "$ref": "#/components/responses/X402PageOutOfRange"
          },
          "429": {
            "$ref": "#/components/responses/X402RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/X402ResourceFailure"
          },
          "503": {
            "$ref": "#/components/responses/X402Unavailable"
          }
        },
        "operationId": "readPaidFinancialBatch"
      },
      "head": {
        "tags": [
          "Paid x402 data"
        ],
        "summary": "HEAD is not supported and never settles payment",
        "security": [],
        "responses": {
          "405": {
            "$ref": "#/components/responses/X402MethodNotAllowed"
          }
        }
      }
    },
    "/api/x402/v1/fundamental-screen": {
      "get": {
        "tags": [
          "Paid x402 data"
        ],
        "summary": "Screen and rank SEC fundamentals with sector peer percentiles",
        "description": "Cache-only prepared data. One bounded successful response costs 0.01 USDC. Invalid selectors, absent data, no matches, conflicts and oversized responses are not settled. Unknown, duplicate and empty query fields are rejected. format=csv returns RFC 4180 CSV with source, selection and pagination context in columns. Screen snapshot tokens bind both source data and criteria; keep criteria identical on subsequent pages. Financial batches require every selected company to be available and are not historical as-filed archives. Responses are bounded to 4 MiB.",
        "security": [
          {
            "X402Payment": []
          }
        ],
        "x-x402": {
          "version": 2,
          "scheme": "exact",
          "price": "0.01",
          "currency": "USDC",
          "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
          "amount": "10000",
          "decimals": 6,
          "resourceExample": "https://secedgarterminal.com/api/x402/v1/fundamental-screen?basis=ttm&limit=100&offset=0",
          "formats": [
            "json",
            "csv"
          ]
        },
        "x-bazaar": {
          "extension": "bazaar",
          "serviceName": "SEC EDGAR Terminal",
          "iconUrl": "https://secedgarterminal.com/favicon.svg",
          "indexing": "concrete-path",
          "resourceExample": "https://secedgarterminal.com/api/x402/v1/factor-universe",
          "tags": [
            "finance",
            "SEC",
            "fundamentals",
            "sector-analysis"
          ],
          "catalog": "https://secedgarterminal.com/api/x402",
          "description": "Offers include input/path and schema-only output metadata. Discovery indexes concrete paths; financials entries can represent specific supported tickers. The payment resource stays the exact concrete request URL. External listing is facilitator-dependent and is not asserted by this document."
        },
        "parameters": [
          {
            "name": "basis",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ttm",
                "annual"
              ],
              "default": "ttm",
              "description": "Financial reporting basis; availability varies by company."
            }
          },
          {
            "name": "sector",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all",
              "description": "all, or an existing sector slug returned in the source snapshot."
            }
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "revenueGrowth",
                "operatingMargin",
                "freeCashFlowMargin",
                "equityToAssets",
                "netMargin",
                "cashToAssets"
              ],
              "default": "revenueGrowth"
            }
          },
          {
            "name": "field",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "change",
                "current",
                "prior"
              ],
              "default": "change"
            }
          },
          {
            "name": "min",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": -1000000000000000,
              "maximum": 1000000000000000
            }
          },
          {
            "name": "max",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": -1000000000000000,
              "maximum": 1000000000000000
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "metric",
                "ticker"
              ],
              "default": "metric"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "missing",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude",
                "include"
              ],
              "default": "exclude"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100,
              "description": "Company rows per paid page. Each successfully settled page costs 0.01 USDC."
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9999,
              "default": 0,
              "description": "Zero-based row offset into the prepared snapshot."
            }
          },
          {
            "name": "snapshot",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$",
              "description": "Pin pagination.snapshot from the first page on later requests. A changed snapshot returns 409 without settlement."
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ],
              "default": "json",
              "description": "JSON result or flat CSV with source and pagination context."
            }
          },
          {
            "name": "X-X402-Recovery-Token",
            "in": "header",
            "required": false,
            "description": "Optional unique random 32-byte capability encoded as 64 lowercase hexadecimal characters. Generate before the signed purchase and retain privately. Stages exact response before settlement for no-charge retrieval for 24 hours. Never put it in the URL.",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Selected prepared product. Preserve source context, coverage, missing values and snapshot token.",
            "headers": {
              "PAYMENT-RESPONSE": {
                "$ref": "#/components/headers/PaymentResponse"
              },
              "EXTENSION-RESPONSES": {
                "$ref": "#/components/headers/ExtensionResponses"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaidFundamentalScreen"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                },
                "description": "CSV header and data rows; source and pagination metadata are included in columns."
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/X402BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/X402PaymentRequired"
          },
          "404": {
            "description": "No companies match the selected screen; no settlement."
          },
          "409": {
            "$ref": "#/components/responses/X402Conflict"
          },
          "413": {
            "description": "Prepared product exceeds 4 MiB; choose fewer companies or a smaller page. No settlement."
          },
          "416": {
            "$ref": "#/components/responses/X402PageOutOfRange"
          },
          "429": {
            "$ref": "#/components/responses/X402RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/X402ResourceFailure"
          },
          "503": {
            "$ref": "#/components/responses/X402Unavailable"
          }
        },
        "operationId": "readPaidFundamentalScreen"
      },
      "head": {
        "tags": [
          "Paid x402 data"
        ],
        "summary": "HEAD is not supported and never settles payment",
        "security": [],
        "responses": {
          "405": {
            "$ref": "#/components/responses/X402MethodNotAllowed"
          }
        }
      }
    },
    "/api/x402/v1/credit-screen": {
      "get": {
        "tags": [
          "Paid x402 data"
        ],
        "summary": "Screen debt maturities, cash coverage and interest coverage",
        "description": "Cache-only prepared data. One bounded successful response costs 0.01 USDC. Invalid selectors, absent data, no matches, conflicts and oversized responses are not settled. Unknown, duplicate and empty query fields are rejected. format=csv returns RFC 4180 CSV with source, selection and pagination context in columns. Screen snapshot tokens bind both source data and criteria; keep criteria identical on subsequent pages. Financial batches require every selected company to be available and are not historical as-filed archives. Responses are bounded to 4 MiB.",
        "security": [
          {
            "X402Payment": []
          }
        ],
        "x-x402": {
          "version": 2,
          "scheme": "exact",
          "price": "0.01",
          "currency": "USDC",
          "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
          "amount": "10000",
          "decimals": 6,
          "resourceExample": "https://secedgarterminal.com/api/x402/v1/credit-screen?limit=100&offset=0",
          "formats": [
            "json",
            "csv"
          ]
        },
        "x-bazaar": {
          "extension": "bazaar",
          "serviceName": "SEC EDGAR Terminal",
          "iconUrl": "https://secedgarterminal.com/favicon.svg",
          "indexing": "concrete-path",
          "resourceExample": "https://secedgarterminal.com/api/x402/v1/factor-universe",
          "tags": [
            "finance",
            "SEC",
            "fundamentals",
            "sector-analysis"
          ],
          "catalog": "https://secedgarterminal.com/api/x402",
          "description": "Offers include input/path and schema-only output metadata. Discovery indexes concrete paths; financials entries can represent specific supported tickers. The payment resource stays the exact concrete request URL. External listing is facilitator-dependent and is not asserted by this document."
        },
        "parameters": [
          {
            "name": "sector",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all",
              "description": "all, or an existing sector slug returned in the source snapshot."
            }
          },
          {
            "name": "minDebt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1000000000000000,
              "description": "Minimum reported principal in the first maturity bucket (next fiscal year or rolling twelve months), in USD."
            }
          },
          {
            "name": "maxCashCoverage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1000000000000000,
              "description": "Maximum cash divided by principal in the first maturity bucket (next fiscal year or rolling twelve months)."
            }
          },
          {
            "name": "minInterestCoverage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": -1000000000000000,
              "maximum": 1000000000000000
            }
          },
          {
            "name": "coverage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "reported",
                "complete"
              ],
              "default": "reported"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "next12m",
                "cashToNext12m",
                "interestCoverage",
                "ticker"
              ],
              "default": "next12m"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100,
              "description": "Company rows per paid page. Each successfully settled page costs 0.01 USDC."
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9999,
              "default": 0,
              "description": "Zero-based row offset into the prepared snapshot."
            }
          },
          {
            "name": "snapshot",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$",
              "description": "Pin pagination.snapshot from the first page on later requests. A changed snapshot returns 409 without settlement."
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ],
              "default": "json",
              "description": "JSON result or flat CSV with source and pagination context."
            }
          },
          {
            "name": "X-X402-Recovery-Token",
            "in": "header",
            "required": false,
            "description": "Optional unique random 32-byte capability encoded as 64 lowercase hexadecimal characters. Generate before the signed purchase and retain privately. Stages exact response before settlement for no-charge retrieval for 24 hours. Never put it in the URL.",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Selected prepared product. Preserve source context, coverage, missing values and snapshot token.",
            "headers": {
              "PAYMENT-RESPONSE": {
                "$ref": "#/components/headers/PaymentResponse"
              },
              "EXTENSION-RESPONSES": {
                "$ref": "#/components/headers/ExtensionResponses"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaidCreditScreen"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                },
                "description": "CSV header and data rows; source and pagination metadata are included in columns."
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/X402BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/X402PaymentRequired"
          },
          "404": {
            "description": "No companies match the selected screen; no settlement."
          },
          "409": {
            "$ref": "#/components/responses/X402Conflict"
          },
          "413": {
            "description": "Prepared product exceeds 4 MiB; choose fewer companies or a smaller page. No settlement."
          },
          "416": {
            "$ref": "#/components/responses/X402PageOutOfRange"
          },
          "429": {
            "$ref": "#/components/responses/X402RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/X402ResourceFailure"
          },
          "503": {
            "$ref": "#/components/responses/X402Unavailable"
          }
        },
        "operationId": "readPaidCreditScreen"
      },
      "head": {
        "tags": [
          "Paid x402 data"
        ],
        "summary": "HEAD is not supported and never settles payment",
        "security": [],
        "responses": {
          "405": {
            "$ref": "#/components/responses/X402MethodNotAllowed"
          }
        }
      }
    },
    "/api/x402/v1/delivery": {
      "get": {
        "operationId": "recoverPaidDelivery",
        "tags": [
          "Paid x402 data"
        ],
        "summary": "Recover the exact response of an opted-in settled purchase without paying again",
        "description": "Provide the same private recovery token used on the original signed GET. No query parameters or payment headers are accepted. Recovery does not resubmit settlement, recompute data or expose pending content. Access expires 24 hours after staging; pending settlement may require manual reconciliation.",
        "security": [
          {
            "X402RecoveryToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Exact original successful JSON or CSV bytes and settlement receipt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "202": {
            "description": "Settlement is pending; no paid content is returned"
          },
          "400": {
            "description": "Missing or invalid token, query parameters or payment headers"
          },
          "404": {
            "description": "Unknown or expired capability"
          },
          "409": {
            "description": "Purchase failed; no paid content"
          },
          "429": {
            "$ref": "#/components/responses/X402RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/X402Unavailable"
          }
        }
      },
      "options": {
        "summary": "Recovery CORS preflight",
        "responses": {
          "204": {
            "description": "Allowed recovery headers"
          }
        }
      }
    }
  },
  "components": {
    "headers": {
      "SchemaVersion": {
        "schema": {
          "type": "string"
        }
      },
      "MethodologyVersion": {
        "schema": {
          "type": "string"
        }
      },
      "SecSnapshotAt": {
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "ReportDate": {
        "schema": {
          "type": "string",
          "format": "date"
        }
      },
      "CacheSource": {
        "schema": {
          "type": "string"
        }
      },
      "DataStale": {
        "schema": {
          "type": "string",
          "enum": [
            "0",
            "1"
          ]
        }
      },
      "RateLimit": {
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "RateRemaining": {
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "RateReset": {
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      },
      "SchemaLink": {
        "schema": {
          "type": "string"
        }
      },
      "PaymentRequired": {
        "description": "Base64-encoded x402 protocol v2 payment requirements. Inspect amount, asset, network, recipient and resource before signing.",
        "schema": {
          "type": "string"
        }
      },
      "ExtensionResponses": {
        "description": "Optional base64-encoded extension outcomes reported by the facilitator. Inspect bazaar.status (success, processing or rejected); a paid response alone does not prove external catalog admission.",
        "schema": {
          "type": "string"
        }
      },
      "PaymentResponse": {
        "description": "Base64-encoded x402 settlement receipt for this paid response. Keep the transaction identifier for support.",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "PublicAnalysisSummary": {
        "type": "object",
        "required": [
          "schemaVersion",
          "status",
          "ticker",
          "basis",
          "period",
          "metrics",
          "sourceCatalog",
          "coverage",
          "stale",
          "checkedAt"
        ],
        "properties": {
          "schemaVersion": {
            "const": "edgar.public-analysis.v1"
          },
          "calculationVersion": {
            "type": "string"
          },
          "status": {
            "const": "ready"
          },
          "ticker": {
            "type": "string"
          },
          "cik": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "basis": {
            "enum": [
              "annual",
              "quarter",
              "ytd",
              "ttm"
            ]
          },
          "asOf": {
            "const": ""
          },
          "selectedEnd": {
            "type": "string"
          },
          "period": {
            "type": "object",
            "description": "kind, start, end, fiscalYear and fiscalPeriod of the selected reporting period."
          },
          "comparisonPeriod": {
            "type": [
              "object",
              "null"
            ]
          },
          "checkedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "retrievedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "calculatedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "freshUntil": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "stale": {
            "type": "boolean"
          },
          "metrics": {
            "type": "array",
            "maxItems": 6,
            "items": {
              "type": "object",
              "required": [
                "key",
                "label",
                "unit",
                "value",
                "classification",
                "sourceIds",
                "previous",
                "change"
              ],
              "properties": {
                "key": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "unit": {
                  "type": "string",
                  "description": "Unscaled USD, percent (%), USD/shares, shares, ratio, days or count."
                },
                "value": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "classification": {
                  "enum": [
                    "reported",
                    "calculated",
                    "unavailable"
                  ]
                },
                "formula": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "observationPeriod": {
                  "type": "object",
                  "description": "Instant or duration context for this metric."
                },
                "sourceIds": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "description": "Indexes in this response's sourceCatalog."
                },
                "calculations": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "previous": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "description": "Prior comparable value with its own classification, formula, sourceIds and calculations."
                },
                "change": {
                  "type": "object",
                  "description": "Compatible year-over-year delta; percent-valued deltas are percentage points. Growth needs a positive prior base."
                }
              }
            }
          },
          "sourceCatalog": {
            "type": "array",
            "maxItems": 96,
            "items": {
              "type": "object",
              "required": [
                "taxonomy",
                "tag",
                "unit",
                "start",
                "end",
                "value",
                "accession",
                "filed",
                "url",
                "revised"
              ],
              "description": "Exact SEC XBRL input context, source value, accession and SEC archive URL; revision flag does not imply error."
            }
          },
          "coverage": {
            "type": "object",
            "description": "Displayed, available, reported, calculated and comparable metric counts, source count and prepared history periods."
          },
          "limitations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "summaryUrl": {
            "type": "string"
          },
          "interactiveUrl": {
            "type": "string"
          }
        }
      },
      "PublicFundSummary": {
        "type": "object",
        "description": "At most ten displayed holdings with the original full-portfolio denominator. Missing numbers are null, not zero. Unavailable responses can omit summary fields and do not establish that no SEC filing exists.",
        "required": [
          "kind",
          "status"
        ],
        "properties": {
          "schemaVersion": {
            "const": "edgar.public-fund-summary.v1"
          },
          "kind": {
            "enum": [
              "nport",
              "13f"
            ]
          },
          "status": {
            "enum": [
              "ready",
              "unavailable"
            ]
          },
          "ticker": {
            "type": "string"
          },
          "cik": {
            "type": "string",
            "pattern": "^[0-9]{10}$"
          },
          "name": {
            "type": "string"
          },
          "seriesId": {
            "type": [
              "string",
              "null"
            ]
          },
          "classId": {
            "type": [
              "string",
              "null"
            ]
          },
          "accession": {
            "type": "string",
            "pattern": "^[0-9]{10}-[0-9]{2}-[0-9]{6}$"
          },
          "valueLabel": {
            "enum": [
              "Net assets",
              "Reported 13F holdings value"
            ]
          },
          "totalValueUsd": {
            "type": [
              "number",
              "null"
            ]
          },
          "valueBasis": {
            "type": [
              "string",
              "null"
            ],
            "description": "N-PORT net-assets provenance: reported, assets less liabilities, or unavailable."
          },
          "reportDate": {
            "type": "string",
            "format": "date"
          },
          "filingDate": {
            "type": "string",
            "format": "date"
          },
          "retrievedAt": {
            "type": "string",
            "format": "date-time"
          },
          "checkedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "freshUntil": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "stale": {
            "type": "boolean",
            "description": "Ready evidence can be stale. False on unavailable responses is not a freshness claim."
          },
          "positionCount": {
            "type": "integer",
            "minimum": 0,
            "description": "Full prepared portfolio position count, including positions outside the displayed top ten."
          },
          "valuedCount": {
            "type": "integer",
            "minimum": 0,
            "description": "N-PORT positions with known USD values."
          },
          "weightCount": {
            "type": "integer",
            "minimum": 0,
            "description": "N-PORT positions with known net-asset weights."
          },
          "top10WeightPct": {
            "type": [
              "number",
              "null"
            ]
          },
          "weightBasis": {
            "type": "string",
            "description": "N-PORT net assets or all reported 13F holdings value; never rescaled to displayed positions."
          },
          "confidentialOmitted": {
            "type": "boolean",
            "description": "13F report explicitly omits confidential holdings."
          },
          "comparable": {
            "type": "boolean",
            "description": "13F report permits complete portfolio comparisons under its disclosed coverage."
          },
          "topHoldings": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "object",
              "required": [
                "name",
                "identifier",
                "valueUsd",
                "weightPct"
              ],
              "properties": {
                "name": {
                  "type": "string"
                },
                "identifier": {
                  "type": "string",
                  "description": "N-PORT ISIN, CUSIP or ticker when available; 13F CUSIP. May be empty for N-PORT."
                },
                "valueUsd": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "weightPct": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "weightSource": {
                  "enum": [
                    "reported",
                    "calculated",
                    "unavailable"
                  ]
                },
                "assetCategory": {
                  "type": "string"
                },
                "payoffProfile": {
                  "type": "string"
                },
                "putCall": {
                  "enum": [
                    "PUT",
                    "CALL",
                    null
                  ]
                },
                "quantityType": {
                  "enum": [
                    "SH",
                    "PRN"
                  ]
                }
              },
              "additionalProperties": false
            }
          },
          "sources": {
            "type": "array",
            "maxItems": 32,
            "items": {
              "type": "object",
              "required": [
                "label",
                "url"
              ],
              "properties": {
                "label": {
                  "type": "string"
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "additionalProperties": false
            }
          },
          "limitations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "interactiveUrl": {
            "type": "string",
            "format": "uri-reference"
          },
          "summaryUrl": {
            "type": "string",
            "format": "uri-reference"
          },
          "reason": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "allOf": [
          {
            "if": {
              "properties": {
                "status": {
                  "const": "ready"
                }
              }
            },
            "then": {
              "required": [
                "schemaVersion",
                "name",
                "valueLabel",
                "totalValueUsd",
                "reportDate",
                "filingDate",
                "retrievedAt",
                "checkedAt",
                "freshUntil",
                "stale",
                "positionCount",
                "top10WeightPct",
                "weightBasis",
                "topHoldings",
                "sources",
                "limitations",
                "interactiveUrl",
                "summaryUrl"
              ]
            },
            "else": {
              "required": [
                "reason"
              ]
            }
          },
          {
            "if": {
              "properties": {
                "kind": {
                  "const": "nport"
                }
              }
            },
            "then": {
              "required": [
                "ticker"
              ]
            },
            "else": {
              "required": [
                "cik"
              ]
            }
          }
        ],
        "additionalProperties": false
      },
      "ApiError": {
        "type": "object",
        "required": [
          "error",
          "code"
        ],
        "properties": {
          "schema_version": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "retryable": {
            "type": "boolean"
          }
        }
      },
      "CftcStatus": {
        "type": "object",
        "required": [
          "schema_version",
          "status",
          "checked_at",
          "families"
        ],
        "properties": {
          "schema_version": {
            "const": "edgar.cftc-positioning.v1"
          },
          "status": {
            "enum": [
              "ready",
              "degraded",
              "unavailable",
              "disabled"
            ]
          },
          "checked_at": {
            "type": "string",
            "format": "date-time"
          },
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "retryable": {
            "type": "boolean"
          },
          "families": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "family",
                "status"
              ],
              "properties": {
                "family": {
                  "enum": [
                    "tff",
                    "disaggregated"
                  ]
                },
                "status": {
                  "enum": [
                    "ready",
                    "partial",
                    "stale",
                    "missing",
                    "expired",
                    "invalid"
                  ]
                },
                "report_date": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date"
                },
                "retrieved_at": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date-time"
                },
                "cache_age_seconds": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "minimum": 0
                },
                "source_report_age_days": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "minimum": 0
                },
                "source_currency": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "enum": [
                    "current",
                    "aged",
                    null
                  ]
                },
                "cache_source": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "additionalProperties": false
            }
          }
        },
        "additionalProperties": false
      },
      "Retired": {
        "type": "object",
        "required": [
          "schema_version",
          "error",
          "code",
          "retired"
        ],
        "properties": {
          "schema_version": {
            "const": "edgar.api-retirement.v1"
          },
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "retired": {
            "const": true
          },
          "replacement": {
            "type": [
              "string",
              "null"
            ]
          },
          "documentation": {
            "type": "string"
          }
        }
      },
      "PaidPagination": {
        "type": "object",
        "required": [
          "offset",
          "limit",
          "total",
          "nextOffset",
          "snapshot"
        ],
        "properties": {
          "offset": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9999
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "nextOffset": {
            "type": [
              "integer",
              "null"
            ]
          },
          "snapshot": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$",
            "description": "SHA-256 token identifying the complete prepared snapshot. Pin it on later page requests."
          }
        },
        "additionalProperties": true
      },
      "PaidFactorPage": {
        "type": "object",
        "required": [
          "schemaVersion",
          "snapshot",
          "rows",
          "pagination"
        ],
        "properties": {
          "schemaVersion": {
            "type": "string",
            "enum": [
              "edgar.paid-factor-page.v1"
            ]
          },
          "snapshot": {
            "type": "object",
            "additionalProperties": true,
            "description": "Snapshot metadata without the full company collection; preserve coverage, dates, stale flags and methodology."
          },
          "rows": {
            "type": "array",
            "maxItems": 100,
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaidPagination"
          }
        },
        "additionalProperties": true
      },
      "PaidRefinancingPage": {
        "type": "object",
        "required": [
          "schemaVersion",
          "snapshot",
          "companies",
          "pagination"
        ],
        "properties": {
          "schemaVersion": {
            "type": "string",
            "enum": [
              "edgar.paid-refinancing-page.v1"
            ]
          },
          "snapshot": {
            "type": "object",
            "additionalProperties": true,
            "description": "Snapshot metadata without the full company collection; preserve coverage, dates, stale flags and methodology."
          },
          "companies": {
            "type": "array",
            "maxItems": 100,
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaidPagination"
          }
        },
        "additionalProperties": true
      },
      "X402Catalog": {
        "type": "object",
        "required": [
          "schemaVersion",
          "status",
          "price",
          "currency",
          "network",
          "protocol",
          "version",
          "resources"
        ],
        "properties": {
          "schemaVersion": {
            "type": "string",
            "enum": [
              "edgar.x402-catalog.v1"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "configuration-required",
              "recipient-setup-required",
              "recipient-check-unavailable"
            ]
          },
          "price": {
            "type": "string",
            "enum": [
              "0.01"
            ]
          },
          "currency": {
            "type": "string",
            "enum": [
              "USDC"
            ]
          },
          "network": {
            "type": "string",
            "enum": [
              "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
            ]
          },
          "asset": {
            "type": "string",
            "enum": [
              "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
            ],
            "description": "Case-sensitive native USDC mint on Solana mainnet."
          },
          "amount": {
            "type": "string",
            "enum": [
              "10000"
            ],
            "description": "Exact per-request price in USDC token base units."
          },
          "decimals": {
            "type": "integer",
            "enum": [
              6
            ]
          },
          "protocol": {
            "type": "string",
            "enum": [
              "x402"
            ]
          },
          "version": {
            "type": "integer",
            "enum": [
              2
            ]
          },
          "payTo": {
            "type": "string",
            "description": "Public Solana settlement recipient when configured. Addresses are case-sensitive; no private key is returned."
          },
          "discovery": {
            "type": "object",
            "properties": {
              "extension": {
                "type": "string",
                "const": "bazaar"
              },
              "metadata": {
                "type": "string",
                "const": "enabled"
              },
              "indexing": {
                "type": "string",
                "const": "concrete-path"
              },
              "catalogRegistration": {
                "type": "string",
                "const": "facilitator-dependent"
              }
            },
            "description": "Server discovery capability, not proof of external listing. Each resource carries its declaration and service metadata.",
            "additionalProperties": true
          },
          "resources": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "PaidFinancials": {
        "type": "object",
        "required": [
          "schemaVersion",
          "status",
          "model",
          "limitations"
        ],
        "properties": {
          "schemaVersion": {
            "type": "string",
            "enum": [
              "edgar.paid-financials.v1"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "ready"
            ]
          },
          "stale": {
            "type": "boolean"
          },
          "fetchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "checkedAt": {
            "type": "string",
            "format": "date-time"
          },
          "freshUntil": {
            "type": "string",
            "format": "date-time"
          },
          "model": {
            "type": "object",
            "required": [
              "packed",
              "ticker",
              "basis",
              "periods"
            ],
            "properties": {
              "packed": {
                "type": "boolean",
                "enum": [
                  true
                ]
              },
              "ticker": {
                "type": "string"
              },
              "cik": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "basis": {
                "type": "string",
                "enum": [
                  "annual",
                  "quarter",
                  "ytd",
                  "ttm"
                ]
              },
              "asOf": {
                "type": "string",
                "enum": [
                  ""
                ],
                "description": "An as-filed cutoff is not supplied by this endpoint."
              },
              "periods": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "sourceCatalog": {
                "description": "Prepared source catalog; preserve units, periods and original evidence."
              },
              "calculationCatalog": {
                "description": "Prepared calculation provenance."
              }
            },
            "additionalProperties": true
          },
          "limitations": {
            "description": "Explicit interpretation and coverage limitations."
          }
        },
        "additionalProperties": true
      },
      "PaidFinancialBatch": {
        "type": "object",
        "required": [
          "schemaVersion",
          "status",
          "selection",
          "stale",
          "companyCount",
          "companies",
          "limitations"
        ],
        "properties": {
          "schemaVersion": {
            "const": "edgar.paid-financial-batch.v1"
          },
          "status": {
            "const": "ready"
          },
          "stale": {
            "type": "boolean"
          },
          "companyCount": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10
          },
          "selection": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "tickers",
              "basis"
            ],
            "properties": {
              "tickers": {
                "type": "array",
                "minItems": 1,
                "maxItems": 10,
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "pattern": "^[A-Z][A-Z0-9.-]{0,14}$"
                }
              },
              "basis": {
                "type": "string",
                "enum": [
                  "annual",
                  "quarter",
                  "ytd",
                  "ttm"
                ]
              }
            }
          },
          "companies": {
            "type": "array",
            "minItems": 1,
            "maxItems": 10,
            "items": {
              "type": "object",
              "required": [
                "schemaVersion",
                "status",
                "stale",
                "fetchedAt",
                "checkedAt",
                "freshUntil",
                "model",
                "limitations"
              ],
              "properties": {
                "schemaVersion": {
                  "const": "edgar.paid-financials.v1"
                },
                "status": {
                  "const": "ready"
                },
                "stale": {
                  "type": "boolean"
                },
                "fetchedAt": {
                  "type": "string"
                },
                "checkedAt": {
                  "type": "string"
                },
                "freshUntil": {
                  "type": "string"
                },
                "model": {
                  "type": "object",
                  "required": [
                    "ticker",
                    "cik",
                    "basis",
                    "version",
                    "mappingVersion",
                    "packed",
                    "periods",
                    "definitions",
                    "metrics",
                    "sourceCatalog",
                    "calculationCatalog"
                  ],
                  "properties": {
                    "ticker": {
                      "type": "string",
                      "pattern": "^[A-Z][A-Z0-9.-]{0,14}$"
                    },
                    "cik": {
                      "type": "string",
                      "pattern": "^(?!0+$)[0-9]{10}$"
                    },
                    "basis": {
                      "type": "string",
                      "enum": [
                        "annual",
                        "quarter",
                        "ytd",
                        "ttm"
                      ]
                    },
                    "version": {
                      "type": "string"
                    },
                    "mappingVersion": {
                      "type": "string"
                    },
                    "packed": {
                      "const": true
                    },
                    "periods": {
                      "type": "array",
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "end"
                        ],
                        "properties": {
                          "end": {
                            "type": "string"
                          },
                          "start": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "definitions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "key",
                          "label"
                        ],
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "format": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "metrics": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "sourceIds",
                            "calculationIds"
                          ],
                          "properties": {
                            "value": {
                              "type": [
                                "number",
                                "null"
                              ]
[...]
