{
  "openapi": "3.1.0",
  "info": {
    "title": "EDGAR Terminal Public Research APIs",
    "version": "2.0.0",
    "description": "Read-only SEC Fundamental Lab and official CFTC Commitments of Traders data. CFTC positioning is separate market context and is not an equity-price feed or trade signal."
  },
  "servers": [{ "url": "https://secedgarterminal.com" }],
  "tags": [
    {
      "name": "SEC fundamentals",
      "description": "Prepared diagnostics derived only from SEC filing facts."
    },
    {
      "name": "CFTC positioning",
      "description": "Official futures-only COT reports, with TFF and Disaggregated taxonomies kept separate."
    },
    {
      "name": "Retired",
      "description": "Legacy third-party price-dependent contracts that now return 410 Gone."
    }
  ],
  "paths": {
    "/api/v2/factor-universe": {
      "get": {
        "tags": ["SEC fundamentals"],
        "summary": "Read the prepared SEC Fundamental Lab universe",
        "description": "Returns equal-issuer-weight filing breadth, magnitude, paired dispersion, cash confirmation and sector variance. Public reads never initiate a bulk SEC refresh.",
        "parameters": [
          {
            "name": "basis",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["ttm", "annual"],
              "default": "ttm"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prepared SEC fundamental snapshot",
            "headers": {
              "X-Schema-Version": { "$ref": "#/components/headers/SchemaVersion" },
              "X-Methodology-Version": { "$ref": "#/components/headers/MethodologyVersion" },
              "X-SEC-Snapshot-At": { "$ref": "#/components/headers/SecSnapshotAt" },
              "X-Cache-Source": { "$ref": "#/components/headers/CacheSource" },
              "X-Data-Stale": { "$ref": "#/components/headers/DataStale" },
              "RateLimit-Limit": { "$ref": "#/components/headers/RateLimit" },
              "RateLimit-Remaining": { "$ref": "#/components/headers/RateRemaining" },
              "RateLimit-Reset": { "$ref": "#/components/headers/RateReset" },
              "Link": { "$ref": "#/components/headers/SchemaLink" }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://secedgarterminal.com/schemas/factor-universe-v2.schema.json"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "503": { "$ref": "#/components/responses/Unavailable" }
        }
      }
    },
    "/api/v1/cftc/markets": {
      "get": {
        "tags": ["CFTC positioning"],
        "summary": "Read a CFTC report-family catalog and launch-market snapshot",
        "description": "Returns one futures-only report family and report date. TFF and Disaggregated participant categories are not blended.",
        "parameters": [
          {
            "name": "family",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["tff", "disaggregated"],
              "default": "tff"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Latest validated report or an exact non-future report date.",
            "schema": {
              "type": "string",
              "default": "latest",
              "pattern": "^(latest|[0-9]{4}-[0-9]{2}-[0-9]{2})$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CFTC catalog and current positioning",
            "headers": {
              "X-Schema-Version": { "$ref": "#/components/headers/SchemaVersion" },
              "X-Report-Date": { "$ref": "#/components/headers/ReportDate" },
              "X-Cache-Source": { "$ref": "#/components/headers/CacheSource" },
              "X-Data-Stale": { "$ref": "#/components/headers/DataStale" },
              "RateLimit-Limit": { "$ref": "#/components/headers/RateLimit" },
              "RateLimit-Remaining": { "$ref": "#/components/headers/RateRemaining" },
              "RateLimit-Reset": { "$ref": "#/components/headers/RateReset" },
              "Link": { "$ref": "#/components/headers/SchemaLink" }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://secedgarterminal.com/schemas/cftc-markets-v1.schema.json"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "502": { "$ref": "#/components/responses/Unavailable" },
          "503": { "$ref": "#/components/responses/Unavailable" },
          "504": { "$ref": "#/components/responses/Unavailable" }
        }
      }
    },
    "/api/v1/cftc/history": {
      "get": {
        "tags": ["CFTC positioning"],
        "summary": "Read bounded CFTC history for one contract and participant group",
        "description": "Calculates net contracts, net as a percentage of open interest, exact 7/28-day changes and no-look-ahead within-contract percentiles.",
        "parameters": [
          {
            "name": "family",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["tff", "disaggregated"],
              "default": "tff"
            }
          },
          {
            "name": "contract",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "pattern": "^[A-Z0-9+]{3,12}$" }
          },
          {
            "name": "group",
            "in": "query",
            "required": false,
            "description": "Must belong to the selected family.",
            "schema": { "type": "string" }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest",
              "pattern": "^(latest|[0-9]{4}-[0-9]{2}-[0-9]{2})$"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["1y", "3y", "5y"],
              "default": "5y"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Selected observation and bounded history",
            "headers": {
              "X-Schema-Version": { "$ref": "#/components/headers/SchemaVersion" },
              "X-Report-Date": { "$ref": "#/components/headers/ReportDate" },
              "X-Cache-Source": { "$ref": "#/components/headers/CacheSource" },
              "X-Data-Stale": { "$ref": "#/components/headers/DataStale" },
              "RateLimit-Limit": { "$ref": "#/components/headers/RateLimit" },
              "RateLimit-Remaining": { "$ref": "#/components/headers/RateRemaining" },
              "RateLimit-Reset": { "$ref": "#/components/headers/RateReset" },
              "Link": { "$ref": "#/components/headers/SchemaLink" }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://secedgarterminal.com/schemas/cftc-history-v1.schema.json"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "502": { "$ref": "#/components/responses/Unavailable" },
          "503": { "$ref": "#/components/responses/Unavailable" },
          "504": { "$ref": "#/components/responses/Unavailable" }
        }
      }
    },
    "/api/v1/cftc/status": {
      "get": {
        "tags": ["CFTC positioning"],
        "summary": "Read prepared CFTC cache status without contacting the upstream source",
        "description": "Reports TFF and Disaggregated prepared-cache readiness independently and recomputes cache age and source-report currency without contacting CFTC upstream.",
        "responses": {
          "200": {
            "description": "At least one prepared family snapshot is usable",
            "headers": { "X-Schema-Version": { "$ref": "#/components/headers/SchemaVersion" } },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CftcStatus" }
              }
            }
          },
          "503": {
            "description": "Shared cache is disabled or no prepared family snapshot is usable",
            "headers": { "X-Schema-Version": { "$ref": "#/components/headers/SchemaVersion" } },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CftcStatus" }
              }
            }
          }
        }
      }
    },
    "/api/prices": {
      "get": {
        "deprecated": true,
        "tags": ["Retired"],
        "summary": "Retired security-price endpoint",
        "responses": { "410": { "$ref": "#/components/responses/Retired" } }
      }
    },
    "/api/v1/market-signals": {
      "get": {
        "deprecated": true,
        "tags": ["Retired"],
        "summary": "Retired price-derived market-signals endpoint",
        "responses": { "410": { "$ref": "#/components/responses/Retired" } }
      }
    },
    "/api/v1/factor-universe": {
      "get": {
        "deprecated": true,
        "tags": ["Retired"],
        "summary": "Retired mixed-data factor-universe v1 endpoint",
        "responses": { "410": { "$ref": "#/components/responses/Retired" } }
      }
    }
  },
  "components": {
    "headers": {
      "SchemaVersion": { "schema": { "type": "string" } },
      "MethodologyVersion": { "schema": { "type": "string" } },
      "SecSnapshotAt": { "schema": { "type": "string", "format": "date-time" } },
      "ReportDate": { "schema": { "type": "string", "format": "date" } },
      "CacheSource": { "schema": { "type": "string" } },
      "DataStale": { "schema": { "type": "string", "enum": ["0", "1"] } },
      "RateLimit": { "schema": { "type": "integer", "minimum": 0 } },
      "RateRemaining": { "schema": { "type": "integer", "minimum": 0 } },
      "RateReset": { "schema": { "type": "integer", "minimum": 1 } },
      "SchemaLink": { "schema": { "type": "string" } }
    },
    "schemas": {
      "ApiError": {
        "type": "object",
        "required": ["error", "code"],
        "properties": {
          "schema_version": { "type": "string" },
          "error": { "type": "string" },
          "code": { "type": "string" },
          "retryable": { "type": "boolean" }
        }
      },
      "CftcStatus": {
        "type": "object",
        "required": ["schema_version", "status", "checked_at", "families"],
        "properties": {
          "schema_version": { "const": "edgar.cftc-positioning.v1" },
          "status": {
            "enum": ["ready", "degraded", "unavailable", "disabled"]
          },
          "checked_at": { "type": "string", "format": "date-time" },
          "error": { "type": "string" },
          "families": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["family", "status"],
              "properties": {
                "family": { "enum": ["tff", "disaggregated"] },
                "status": {
                  "enum": [
                    "ready",
                    "partial",
                    "stale",
                    "missing",
                    "expired",
                    "invalid"
                  ]
                },
                "report_date": { "type": ["string", "null"], "format": "date" },
                "retrieved_at": {
                  "type": ["string", "null"],
                  "format": "date-time"
                },
                "cache_age_seconds": {
                  "type": ["integer", "null"],
                  "minimum": 0
                },
                "source_report_age_days": {
                  "type": ["integer", "null"],
                  "minimum": 0
                },
                "source_currency": {
                  "type": ["string", "null"],
                  "enum": ["current", "aged", null]
                },
                "cache_source": { "type": ["string", "null"] }
              },
              "additionalProperties": false
            }
          }
        },
        "additionalProperties": false
      },
      "Retired": {
        "type": "object",
        "required": ["schema_version", "error", "code", "retired"],
        "properties": {
          "schema_version": { "const": "edgar.api-retirement.v1" },
          "error": { "type": "string" },
          "code": { "type": "string" },
          "retired": { "const": true },
          "replacement": { "type": ["string", "null"] },
          "documentation": { "type": "string" }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid or ambiguous query",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ApiError" }
          }
        }
      },
      "NotFound": {
        "description": "No validated observation for the requested selection",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ApiError" }
          }
        }
      },
      "RateLimited": {
        "description": "Bounded public rate limit reached",
        "headers": {
          "Retry-After": { "schema": { "type": "integer" } },
          "RateLimit-Limit": { "$ref": "#/components/headers/RateLimit" },
          "RateLimit-Remaining": { "$ref": "#/components/headers/RateRemaining" },
          "RateLimit-Reset": { "$ref": "#/components/headers/RateReset" }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ApiError" }
          }
        }
      },
      "Unavailable": {
        "description": "Prepared data or upstream source is temporarily unavailable",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ApiError" }
          }
        }
      },
      "Retired": {
        "description": "The contract is permanently retired",
        "headers": {
          "Cache-Control": {
            "schema": { "type": "string", "const": "private, no-store" }
          }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Retired" }
          }
        }
      }
    }
  }
}
