{
  "openapi": "3.1.0",
  "info": {
    "title": "EDGAR Terminal Paid SEC Snapshot API",
    "version": "2026-06-09",
    "description": "HTTP 402-style paid endpoint for compact, source-linked public SEC filing snapshots. Uses native SOL payments with an exact Solana memo, with an additional ScoutGate x402 proxy for USDC on Base. This is research data, not investment, financial, legal, or tax advice."
  },
  "externalDocs": {
    "description": "ScoutGate x402 proxy catalog search",
    "url": "https://x402scout.com/catalog?q=EDGAR"
  },
  "x-scoutgateProxy": {
    "proxyUrl": "https://x402-scoutgate.onrender.com/api/2f9ca2f9?ticker=AAPL",
    "catalogUrl": "https://x402scout.com/catalog?q=EDGAR",
    "price": {
      "amount": "0.01",
      "currency": "USDC",
      "network": "base",
      "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
    },
    "registeredPayoutAddress": "0x91D59f9932557c8347AaAC800756E49A1cEDc794",
    "settlementNote": "ScoutGate returns a platform-mediated x402 challenge. Count received revenue only after USDC reaches the registered payout address."
  },
  "servers": [
    {
      "url": "https://secedgarterminal.com"
    }
  ],
  "paths": {
    "/api/paid/snapshot": {
      "get": {
        "operationId": "getPaidSecSnapshot",
        "summary": "Get a paid public SEC filing snapshot for a ticker",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Z0-9.-]{1,12}$"
            },
            "description": "Public-company ticker symbol, such as AAPL."
          },
          {
            "name": "memo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Required memo returned by the HTTP 402 payment challenge, for example EdgarSnapshot:AAPL:<nonce>."
          },
          {
            "name": "signature",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional confirmed Solana transaction signature for direct payment verification."
          }
        ],
        "responses": {
          "200": {
            "description": "Payment verified and SEC snapshot returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaidSnapshotResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ticker, memo, or transaction signature."
          },
          "402": {
            "description": "Payment required. Decode the PAYMENT-REQUIRED header as base64 JSON or read the JSON body.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded JSON payment challenge containing price, recipient, memo, resource URL, and retry instructions.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Payment-Required": {
                "description": "Human-readable payment method summary.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Payment-Recipient": {
                "description": "Solana mainnet recipient wallet.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Payment-Memo": {
                "description": "Exact memo required for unlock verification.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequiredResponse"
                }
              }
            }
          },
          "502": {
            "description": "Payment verified, but SEC source retrieval failed."
          },
          "503": {
            "description": "Payment verification provider unavailable."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PaymentRequiredResponse": {
        "type": "object",
        "required": [
          "error",
          "priceSol",
          "recipient",
          "requiredMemo",
          "solanaPayUrl",
          "retryUrl"
        ],
        "properties": {
          "error": {
            "const": "payment_required"
          },
          "protocol": {
            "const": "solana-direct-memo"
          },
          "priceSol": {
            "type": "number"
          },
          "priceLamports": {
            "type": "integer"
          },
          "recipient": {
            "type": "string"
          },
          "requiredMemo": {
            "type": "string"
          },
          "solanaPayUrl": {
            "type": "string"
          },
          "retryUrl": {
            "type": "string"
          },
          "accepts": {
            "type": "array"
          },
          "verification": {
            "type": [
              "object",
              "null"
            ]
          }
        }
      },
      "PaidSnapshotResponse": {
        "type": "object",
        "required": [
          "status",
          "payment",
          "snapshot"
        ],
        "properties": {
          "status": {
            "const": "paid"
          },
          "payment": {
            "type": "object"
          },
          "snapshot": {
            "type": "object",
            "properties": {
              "ticker": {
                "type": "string"
              },
              "found": {
                "type": "boolean"
              },
              "cik": {
                "type": "string"
              },
              "companyName": {
                "type": "string"
              },
              "latestFilings": {
                "type": "array"
              },
              "source": {
                "type": "object"
              }
            }
          },
          "boundaries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}
