{
  "openapi": "3.1.0",
  "info": {
    "title": "EDGAR Terminal Public Research APIs",
    "version": "2.0.0",
    "description": "Read-only SEC Fundamental Lab, prepared N-PORT and Form 13F summaries, and official CFTC Commitments of Traders data. CFTC positioning is separate market context and is not an equity-price feed or trade signal."
  },
  "servers": [{ "url": "https://secedgarterminal.com" }],
  "tags": [
    {
      "name": "SEC fundamentals",
      "description": "Prepared diagnostics derived only from SEC filing facts."
    },
    {
      "name": "CFTC positioning",
      "description": "Official futures-only COT reports, with TFF and Disaggregated taxonomies kept separate."
    },
    {
      "name": "Fund research",
      "description": "Compact, source-linked summaries read only from prepared N-PORT and Form 13F portfolios."
    },
    {
      "name": "Retired",
      "description": "Legacy third-party price-dependent contracts that now return 410 Gone."
    }
  ],
  "paths": {
    "/api/v1/funds/{ticker}": {
      "get": {
        "tags": ["Fund research"],
        "operationId": "readPublicFundSummary",
        "summary": "Read a prepared N-PORT fund summary",
        "description": "Cache-only read with up to ten positions, source dates, coverage and SEC links. Never fetches SEC documents or starts a refresh. Omit accession for the prepared latest report; an explicit accession pins one filing and excludes later amendments. Missing prepared data does not establish that no filing exists. Unknown, duplicate or empty query parameters are rejected.",
        "parameters": [
          { "name": "ticker", "in": "path", "required": true, "description": "Fund ticker, normalized to uppercase.", "schema": { "type": "string", "pattern": "^[A-Za-z0-9][A-Za-z0-9.-]{0,14}$" } },
          { "name": "accession", "in": "query", "required": false, "description": "Exact SEC filing accession.", "schema": { "type": "string", "pattern": "^[0-9]{10}-[0-9]{2}-[0-9]{6}$" } }
        ],
        "responses": {
          "200": {
            "description": "Prepared summary; stale may be true. N-PORT weights retain the full net-assets denominator and may be negative or unavailable.",
            "headers": { "Cache-Control": { "schema": { "type": "string", "const": "public, max-age=0, s-maxage=60, stale-while-revalidate=60" } } },
            "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/PublicFundSummary" }, { "properties": { "status": { "const": "ready" }, "kind": { "const": "nport" } } }] } } }
          },
          "400": {
            "description": "Invalid fund ticker, accession or query parameters; private, no-store.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "503": { "$ref": "#/components/responses/PublicFundUnavailable" }
        }
      }
    },
    "/api/v1/managers/{cik}": {
      "get": {
        "tags": ["Fund research"],
        "operationId": "readPublicManagerSummary",
        "summary": "Read a prepared Form 13F manager summary",
        "description": "Cache-only read of a complete prepared quarter with up to ten positions, coverage, dates and SEC filing sources. Never fetches SEC documents or starts a refresh. Omit period for the prepared latest quarter. Weights use all reported 13F holdings value, not assets under management or net assets. Unknown, duplicate or empty query parameters are rejected.",
        "parameters": [
          { "name": "cik", "in": "path", "required": true, "description": "Nonzero manager CIK, normalized to ten digits.", "schema": { "type": "string", "pattern": "^(?!0+$)[0-9]{1,10}$" } },
          { "name": "period", "in": "query", "required": false, "description": "A non-future calendar quarter end with year greater than zero.", "schema": { "type": "string", "format": "date", "pattern": "^[0-9]{4}-(03-31|06-30|09-30|12-31)$" } }
        ],
        "responses": {
          "200": {
            "description": "Complete prepared quarter; stale may be true, including when newer evidence is incomplete. Options and confidential omissions remain explicit.",
            "headers": { "Cache-Control": { "schema": { "type": "string", "const": "public, max-age=0, s-maxage=60, stale-while-revalidate=60" } } },
            "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/PublicFundSummary" }, { "properties": { "status": { "const": "ready" }, "kind": { "const": "13f" } } }] } } }
          },
          "400": {
            "description": "Invalid manager CIK, reporting quarter or query parameters; private, no-store.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "503": { "$ref": "#/components/responses/PublicFundUnavailable" }
        }
      }
    },
    "/api/v2/factor-universe": {
      "get": {
        "tags": ["SEC fundamentals"],
        "summary": "Read the prepared SEC Fundamental Lab universe",
        "description": "Returns equal-issuer-weight filing breadth, magnitude, paired dispersion, cash confirmation and sector variance. Public reads never initiate a bulk SEC refresh.",
        "parameters": [
          {
            "name": "basis",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["ttm", "annual"],
              "default": "ttm"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prepared SEC fundamental snapshot",
            "headers": {
              "X-Schema-Version": { "$ref": "#/components/headers/SchemaVersion" },
              "X-Methodology-Version": { "$ref": "#/components/headers/MethodologyVersion" },
              "X-SEC-Snapshot-At": { "$ref": "#/components/headers/SecSnapshotAt" },
              "X-Cache-Source": { "$ref": "#/components/headers/CacheSource" },
              "X-Data-Stale": { "$ref": "#/components/headers/DataStale" },
              "RateLimit-Limit": { "$ref": "#/components/headers/RateLimit" },
              "RateLimit-Remaining": { "$ref": "#/components/headers/RateRemaining" },
              "RateLimit-Reset": { "$ref": "#/components/headers/RateReset" },
              "Link": { "$ref": "#/components/headers/SchemaLink" }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://secedgarterminal.com/schemas/factor-universe-v2.schema.json"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "503": { "$ref": "#/components/responses/Unavailable" }
        }
      }
    },
    "/api/v1/cftc/markets": {
      "get": {
        "tags": ["CFTC positioning"],
        "summary": "Read a CFTC report-family catalog and launch-market snapshot",
        "description": "Returns one futures-only report family and report date. TFF and Disaggregated participant categories are not blended.",
        "parameters": [
          {
            "name": "family",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["tff", "disaggregated"],
              "default": "tff"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Latest validated report or an exact non-future report date.",
            "schema": {
              "type": "string",
              "default": "latest",
              "pattern": "^(latest|[0-9]{4}-[0-9]{2}-[0-9]{2})$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CFTC catalog and current positioning",
            "headers": {
              "X-Schema-Version": { "$ref": "#/components/headers/SchemaVersion" },
              "X-Report-Date": { "$ref": "#/components/headers/ReportDate" },
              "X-Cache-Source": { "$ref": "#/components/headers/CacheSource" },
              "X-Data-Stale": { "$ref": "#/components/headers/DataStale" },
              "RateLimit-Limit": { "$ref": "#/components/headers/RateLimit" },
              "RateLimit-Remaining": { "$ref": "#/components/headers/RateRemaining" },
              "RateLimit-Reset": { "$ref": "#/components/headers/RateReset" },
              "Link": { "$ref": "#/components/headers/SchemaLink" }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://secedgarterminal.com/schemas/cftc-markets-v1.schema.json"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "502": { "$ref": "#/components/responses/Unavailable" },
          "503": { "$ref": "#/components/responses/Unavailable" },
          "504": { "$ref": "#/components/responses/Unavailable" }
        }
      }
    },
    "/api/v1/cftc/history": {
      "get": {
        "tags": ["CFTC positioning"],
        "summary": "Read bounded CFTC history for one contract and participant group",
        "description": "Calculates net contracts, net as a percentage of open interest, exact 7/28-day changes and no-look-ahead within-contract percentiles.",
        "parameters": [
          {
            "name": "family",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["tff", "disaggregated"],
              "default": "tff"
            }
          },
          {
            "name": "contract",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "pattern": "^[A-Z0-9+]{3,12}$" }
          },
          {
            "name": "group",
            "in": "query",
            "required": false,
            "description": "Must belong to the selected family.",
            "schema": { "type": "string" }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest",
              "pattern": "^(latest|[0-9]{4}-[0-9]{2}-[0-9]{2})$"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["1y", "3y", "5y"],
              "default": "5y"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Selected observation and bounded history",
            "headers": {
              "X-Schema-Version": { "$ref": "#/components/headers/SchemaVersion" },
              "X-Report-Date": { "$ref": "#/components/headers/ReportDate" },
              "X-Cache-Source": { "$ref": "#/components/headers/CacheSource" },
              "X-Data-Stale": { "$ref": "#/components/headers/DataStale" },
              "RateLimit-Limit": { "$ref": "#/components/headers/RateLimit" },
              "RateLimit-Remaining": { "$ref": "#/components/headers/RateRemaining" },
              "RateLimit-Reset": { "$ref": "#/components/headers/RateReset" },
              "Link": { "$ref": "#/components/headers/SchemaLink" }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://secedgarterminal.com/schemas/cftc-history-v1.schema.json"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "502": { "$ref": "#/components/responses/Unavailable" },
          "503": { "$ref": "#/components/responses/Unavailable" },
          "504": { "$ref": "#/components/responses/Unavailable" }
        }
      }
    },
    "/api/v1/cftc/status": {
      "get": {
        "tags": ["CFTC positioning"],
        "summary": "Read prepared CFTC cache status without contacting the upstream source",
        "description": "Reports TFF and Disaggregated prepared-cache readiness independently and recomputes cache age and source-report currency without contacting CFTC upstream.",
        "responses": {
          "200": {
            "description": "At least one prepared family snapshot is usable",
            "headers": {
              "X-Schema-Version": { "$ref": "#/components/headers/SchemaVersion" },
              "RateLimit-Limit": { "$ref": "#/components/headers/RateLimit" },
              "RateLimit-Remaining": { "$ref": "#/components/headers/RateRemaining" },
              "RateLimit-Reset": { "$ref": "#/components/headers/RateReset" }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CftcStatus" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "503": {
            "description": "Shared cache is disabled or no prepared family snapshot is usable",
            "headers": { "X-Schema-Version": { "$ref": "#/components/headers/SchemaVersion" } },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CftcStatus" }
              }
            }
          }
        }
      }
    },
    "/api/prices": {
      "get": {
        "deprecated": true,
        "tags": ["Retired"],
        "summary": "Retired security-price endpoint",
        "responses": { "410": { "$ref": "#/components/responses/Retired" } }
      }
    },
    "/api/v1/market-signals": {
      "get": {
        "deprecated": true,
        "tags": ["Retired"],
        "summary": "Retired price-derived market-signals endpoint",
        "responses": { "410": { "$ref": "#/components/responses/Retired" } }
      }
    },
    "/api/v1/factor-universe": {
      "get": {
        "deprecated": true,
        "tags": ["Retired"],
        "summary": "Retired mixed-data factor-universe v1 endpoint",
        "responses": { "410": { "$ref": "#/components/responses/Retired" } }
      }
    }
  },
  "components": {
    "headers": {
      "SchemaVersion": { "schema": { "type": "string" } },
      "MethodologyVersion": { "schema": { "type": "string" } },
      "SecSnapshotAt": { "schema": { "type": "string", "format": "date-time" } },
      "ReportDate": { "schema": { "type": "string", "format": "date" } },
      "CacheSource": { "schema": { "type": "string" } },
      "DataStale": { "schema": { "type": "string", "enum": ["0", "1"] } },
      "RateLimit": { "schema": { "type": "integer", "minimum": 0 } },
      "RateRemaining": { "schema": { "type": "integer", "minimum": 0 } },
      "RateReset": { "schema": { "type": "integer", "minimum": 1 } },
      "SchemaLink": { "schema": { "type": "string" } }
    },
    "schemas": {
      "PublicFundSummary": {
        "type": "object",
        "description": "At most ten displayed holdings with the original full-portfolio denominator. Missing numbers are null, not zero. Unavailable responses can omit summary fields and do not establish that no SEC filing exists.",
        "required": ["kind", "status"],
        "properties": {
          "schemaVersion": { "const": "edgar.public-fund-summary.v1" },
          "kind": { "enum": ["nport", "13f"] },
          "status": { "enum": ["ready", "unavailable"] },
          "ticker": { "type": "string" },
          "cik": { "type": "string", "pattern": "^[0-9]{10}$" },
          "name": { "type": "string" },
          "seriesId": { "type": ["string", "null"] },
          "classId": { "type": ["string", "null"] },
          "accession": { "type": "string", "pattern": "^[0-9]{10}-[0-9]{2}-[0-9]{6}$" },
          "valueLabel": { "enum": ["Net assets", "Reported 13F holdings value"] },
          "totalValueUsd": { "type": ["number", "null"] },
          "valueBasis": { "type": ["string", "null"], "description": "N-PORT net-assets provenance: reported, assets less liabilities, or unavailable." },
          "reportDate": { "type": "string", "format": "date" },
          "filingDate": { "type": "string", "format": "date" },
          "retrievedAt": { "type": "string", "format": "date-time" },
          "checkedAt": { "type": ["string", "null"], "format": "date-time" },
          "freshUntil": { "type": ["string", "null"], "format": "date-time" },
          "stale": { "type": "boolean", "description": "Ready evidence can be stale. False on unavailable responses is not a freshness claim." },
          "positionCount": { "type": "integer", "minimum": 0, "description": "Full prepared portfolio position count, including positions outside the displayed top ten." },
          "valuedCount": { "type": "integer", "minimum": 0, "description": "N-PORT positions with known USD values." },
          "weightCount": { "type": "integer", "minimum": 0, "description": "N-PORT positions with known net-asset weights." },
          "top10WeightPct": { "type": ["number", "null"] },
          "weightBasis": { "type": "string", "description": "N-PORT net assets or all reported 13F holdings value; never rescaled to displayed positions." },
          "confidentialOmitted": { "type": "boolean", "description": "13F report explicitly omits confidential holdings." },
          "comparable": { "type": "boolean", "description": "13F report permits complete portfolio comparisons under its disclosed coverage." },
          "topHoldings": {
            "type": "array", "maxItems": 10,
            "items": {
              "type": "object", "required": ["name", "identifier", "valueUsd", "weightPct"],
              "properties": {
                "name": { "type": "string" },
                "identifier": { "type": "string", "description": "N-PORT ISIN, CUSIP or ticker when available; 13F CUSIP. May be empty for N-PORT." },
                "valueUsd": { "type": ["number", "null"] },
                "weightPct": { "type": ["number", "null"] },
                "weightSource": { "enum": ["reported", "calculated", "unavailable"] },
                "assetCategory": { "type": "string" },
                "payoffProfile": { "type": "string" },
                "putCall": { "enum": ["PUT", "CALL", null] },
                "quantityType": { "enum": ["SH", "PRN"] }
              },
              "additionalProperties": false
            }
          },
          "sources": {
            "type": "array", "maxItems": 32,
            "items": { "type": "object", "required": ["label", "url"], "properties": { "label": { "type": "string" }, "url": { "type": "string", "format": "uri" } }, "additionalProperties": false }
          },
          "limitations": { "type": "array", "items": { "type": "string" } },
          "interactiveUrl": { "type": "string", "format": "uri-reference" },
          "summaryUrl": { "type": "string", "format": "uri-reference" },
          "reason": { "type": "string" },
          "code": { "type": "string" }
        },
        "allOf": [
          { "if": { "properties": { "status": { "const": "ready" } } }, "then": { "required": ["schemaVersion", "name", "valueLabel", "totalValueUsd", "reportDate", "filingDate", "retrievedAt", "checkedAt", "freshUntil", "stale", "positionCount", "top10WeightPct", "weightBasis", "topHoldings", "sources", "limitations", "interactiveUrl", "summaryUrl"] }, "else": { "required": ["reason"] } },
          { "if": { "properties": { "kind": { "const": "nport" } } }, "then": { "required": ["ticker"] }, "else": { "required": ["cik"] } }
        ],
        "additionalProperties": false
      },
      "ApiError": {
        "type": "object",
        "required": ["error", "code"],
        "properties": {
          "schema_version": { "type": "string" },
          "error": { "type": "string" },
          "code": { "type": "string" },
          "retryable": { "type": "boolean" }
        }
      },
      "CftcStatus": {
        "type": "object",
        "required": ["schema_version", "status", "checked_at", "families"],
        "properties": {
          "schema_version": { "const": "edgar.cftc-positioning.v1" },
          "status": {
            "enum": ["ready", "degraded", "unavailable", "disabled"]
          },
          "checked_at": { "type": "string", "format": "date-time" },
          "error": { "type": "string" },
          "code": { "type": "string" },
          "retryable": { "type": "boolean" },
          "families": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["family", "status"],
              "properties": {
                "family": { "enum": ["tff", "disaggregated"] },
                "status": {
                  "enum": [
                    "ready",
                    "partial",
                    "stale",
                    "missing",
                    "expired",
                    "invalid"
                  ]
                },
                "report_date": { "type": ["string", "null"], "format": "date" },
                "retrieved_at": {
                  "type": ["string", "null"],
                  "format": "date-time"
                },
                "cache_age_seconds": {
                  "type": ["integer", "null"],
                  "minimum": 0
                },
                "source_report_age_days": {
                  "type": ["integer", "null"],
                  "minimum": 0
                },
                "source_currency": {
                  "type": ["string", "null"],
                  "enum": ["current", "aged", null]
                },
                "cache_source": { "type": ["string", "null"] }
              },
              "additionalProperties": false
            }
          }
        },
        "additionalProperties": false
      },
      "Retired": {
        "type": "object",
        "required": ["schema_version", "error", "code", "retired"],
        "properties": {
          "schema_version": { "const": "edgar.api-retirement.v1" },
          "error": { "type": "string" },
          "code": { "type": "string" },
          "retired": { "const": true },
          "replacement": { "type": ["string", "null"] },
          "documentation": { "type": "string" }
        }
      }
    },
    "responses": {
      "PublicFundUnavailable": {
        "description": "No validated prepared summary is available, or its cache cannot be read. This does not establish that no filing exists and never starts SEC acquisition. Open the interactive research tool to request preparation.",
        "headers": {
          "Cache-Control": { "schema": { "type": "string", "const": "private, no-store" } },
          "Retry-After": { "schema": { "type": "integer", "const": 60 } }
        },
        "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/PublicFundSummary" }, { "properties": { "status": { "const": "unavailable" } } }] } } }
      },
      "BadRequest": {
        "description": "Invalid or ambiguous query",
        "headers": { "X-Schema-Version": { "$ref": "#/components/headers/SchemaVersion" } },
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ApiError" }
          }
        }
      },
      "NotFound": {
        "description": "No validated observation for the requested selection",
        "headers": { "X-Schema-Version": { "$ref": "#/components/headers/SchemaVersion" } },
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ApiError" }
          }
        }
      },
      "RateLimited": {
        "description": "Bounded public rate limit reached",
        "headers": {
          "X-Schema-Version": { "$ref": "#/components/headers/SchemaVersion" },
          "Retry-After": { "schema": { "type": "integer" } },
          "RateLimit-Limit": { "$ref": "#/components/headers/RateLimit" },
          "RateLimit-Remaining": { "$ref": "#/components/headers/RateRemaining" },
          "RateLimit-Reset": { "$ref": "#/components/headers/RateReset" }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ApiError" }
          }
        }
      },
      "Unavailable": {
        "description": "Prepared data or upstream source is temporarily unavailable",
        "headers": { "X-Schema-Version": { "$ref": "#/components/headers/SchemaVersion" } },
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ApiError" }
          }
        }
      },
      "Retired": {
        "description": "The contract is permanently retired",
        "headers": {
          "Cache-Control": {
            "schema": { "type": "string", "const": "private, no-store" }
          }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Retired" }
          }
        }
      }
    }
  }
}
